<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
</head>
<body >

	<section>
		<br />

		<div class="container" >
			<div class="row">
				<div class="col-md-8 offset-md-2" >

					<div class="mycard  mt-1" style="border: #20247b;border-width:2px;border-style:solid;">
						<h1 style="text-align:center;color:black;">Add Contact</h1>
						<br />
						<div class="container text-center ">
							<div th:if="${session.message}"
								th:classappend="'alert '+${session.message.type}" role="alert">
								<p th:text="${session.message.content}"></p>

							</div>
						</div>

						<form th:action="@{/user/registercontact}" method="POST"
							enctype="multipart/form-data" th:object="${contact}" >



							<!-- 2 column grid layout with text inputs for the first and last names -->
							<div class="row mb-4">
								<div class="col">
									<div class="form-outline">
										<input name="name" type="text" id="form6Example1"
											class="form-control" placeholder="Enter Name " required />
									</div>
								</div>
								<div class="col">
									<div class="form-outline">

										<input name="secondName" type="text" id="form6Example2"
											class="form-control" placeholder="Enter Nickname" />
									</div>
								</div>
							</div>

							<!-- Text input -->
							<div class="form-outline mb-4">

								<input name="work" type="text" id="form6Example3"
									class="form-control" placeholder="Enter Work" />
							</div>

							<!-- Email input -->
							<div class="form-outline mb-4">

								<input name="email" type="email" id="form6Example5"
									class="form-control" placeholder="Enter Email" required />
							</div>

							<!-- Number input -->
							<div class="form-outline mb-4">

								<input name="phone" type="text" id="form6Example6"
									class="form-control" placeholder="Enter Phone Number" required />
							</div>

							<!-- Message input -->
							<div class="form-outline mb-4">

								<textarea name="description" class="form-control"
									id="form6Example7" rows="4"
									placeholder="Enter Additional information "></textarea>
							</div>

							<div class="custom-file">
								<input type="file" name="profileimage" />
							</div>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Save Contact</button>



							</div>

						</form>
					</div>
				</div>
			</div>

		</div>

	</section>
</body>
</html>