<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<section  class="banner  d-flex justify-content-center ">
	<div id="aboutpage">
		<div class="text-center" >
			<br>
			<h1  class="font-weight-bold" >About Smart Contact Manager</h1>
			<h6 style="  text-align:center; width:90%; margin-left:80px;" >Welcome to Smart Contact Manager, your go-to platform for streamlined contact management and efficient communication.
				At Smart Contact Manager, we understand the importance of staying connected in today's fast-paced world. Our platform is
				designed to simplify the way you organize and interact with your contacts, ensuring a seamless and enjoyable experience.</h6>
			<br>
			<br><br><br><br><br>
		</div>
		<div id="about-page-dev" style="display:flex; margin-left:400px;">

			<div style="margin-right:100px">
				<h3>Developed By: Rahul Gautam </h3>
				<h3>B.tech CSE </h3>
				<h3>Engineering college, Ajmer</h3>
				<br>
				<a  href="https://www.linkedin.com/in/rahul-gautam-631609268/" style="margin-left:100px;"  class="btn btn-primary btn-sm">LinkedIn</a>
			</div>
			<img alt="" style="height:200px; width:250px;" src="/images/rahulgautam.png">
		</div>
	</div>

</section>

</body>
</html>