<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-14">
						<br>
					<h3 style="text-align:center">Change Password</h3>
					<br />
					<div class="container">

						<div th:if="${session.message}"
							th:classappend="'alert '+${session.message.type}" role="alert">
							<p th:text="${session.message.content}"></p>

						</div>
					


					<div  class="form-outline">

						<form th:action="@{/home/changepassword}" method="post"
							th:object="${email}">


                            <label for="otp" class="text-info">OTP</label><br> <input
							type="number" name="otp" id="otp" class="form-control" required /> 
											
							<label for="newpass">Enter New Password</label> <input
								name="newpassword" type="password" class="form-control" required />
								
							 <label for="confirmnewpass">Confirm New Password</label> <input
								name="confirmnewpassword" type="password" class="form-control"
								required />
								<br>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Change Password</button>

								<input type="hidden" name="email" th:value="${email}" />

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
	</section>

</body>
</html>